@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0 0;
    --foreground: 255 255 255;
  }
  
  body {
    background-color: rgb(var(--background));
    color: rgb(var(--foreground));
    @apply font-mono antialiased overflow-hidden;
  }

  /* Custom scrollbar for terminal look */
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #3f3f46;
  }
}
